
@media only screen and (max-width: 390px){
    .hedding{
        width: 390px;
        margin: auto;
    }
    .logo {
        text-align: center;
        width: 52px;
    }
    .wrapper {
        width:100%;
    }
    .f_text h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 42px;
        font-weight: 400;
        text-align: center;
        line-height: 50px;
        padding-top: 71px;
        text-align: start;
    }
    .f_text {
        text-align: start;
        margin-left:12px;
    }
    .G_img{
        width:368px;
        margin:0 auto;
        text-align: center;
    }

    .mid_img {
        display:block;
    }
    .mid_section {
        padding-top:80.33px;
        width:350px;
        margin: auto;
    }
    .resp_img{
        margin-bottom: 30px;
    }
    .mid_text p {
        padding-bottom:40px;
    }
    .tree_img {
        display:block;
        width:350px;
        margin: auto;
    }
    .all_fors {
        display:block;
        margin-top:48px;
        margin:0px 20px;
    }
    .for_text h2 {
        font-size:36px;
        font-weight: 400;
        padding-bottom:0px;
    }

    
    .for_text p {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #ffffff;
    }
    p.big_p {
        font-family: "Poppins", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        color: #ffffff;
        padding-bottom: 10px;

    }
    .m_btn {
        margin-bottom:0px;
    }
    .show{
        width:100px;
    }
    .five_ssection{
        padding-top: 80px;
    }
    .five_text h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        padding:0px 20px;
        margin:0 auto;
    }
    .five_text p {
        font-size: 16px;
        line-height: 24px;
        color: #504C48;
        padding-top:5px;
        padding:0px 20px;
        margin:0 auto;
    }
    .arrow{
        display:none;
    }
    #showtow{
        padding-top:0px;
    }
    .section_five_bg {
        padding-bottom:80px;
    }
    .section_sex{
        width:350px;
    }
    .six_img{
        display: flex;
        width:100%;
    }
    .teree_sec{
        padding-top:0px;
        width:350px;
        margin: auto;
    }
    .seven_section {
        display: block;
        padding-top:0px;
        width:350px;
        margin: auto;
    }
    .seven_section h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
    }
    .seven_section p{
        font-size: 16px;
    }

    .foot_2 {
        display: block;
    }
    .foot_2 h4 {
        font-size: 26px;
        line-height: 32px;
    }
    .all_footer {
        background-color: #1E1C1A;
        padding-top:0px;
        width:350px;
        margin: auto;
    }
    .foot_one {
        text-align: center;
        padding-top:59px;
    }
    .foot_2 p, .foot_one p{
        font-size: 16px;
    }
}